nav {
    background: #bbb;
    padding: 10px;
    ul {
        display: flex;
        justify-content: space-between;
        li {
            list-style: none;

            //가상요소 선택시 &를 쓴다
            &:hover {
                background-color: white;
            }
        }
        .one {
            color: red;
            //속성 네스팅
            background: {
                image: url(./house-solid.svg);
                position: center center;
                repeat: no-repeat;
                size: 14px 14px;
            }
        }
        .two {
            color: green;
        }
        .three {
            color: blue;
        }
    }
}